* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Arial";
  font-size: 20px; 
}

.Kontenjer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px); /*ovih 20 px se doda na margin*/
  height: 70vh;
}

.Blok {
  background-color: rgba(40, 189, 214, 1);
  width: 50%;
  height: 77%;
  margin: 20px;
  box-shadow: 5px 5px 15px rgb(131, 128, 128);
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction:  column; 
}

.ZaglavljeBloka{
    background-color: rgba(233, 232, 232, 1);
    height: 15%;
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    box-shadow: 2px 3px 7px rgb(118, 118, 118);
      
}

.TijeloBloka{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Registracija{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;  
  gap:8%;
}

.Registracija button{
  grid-column: 2 / span 1;
  justify-self: end;
  padding: 10px 20px;
  margin-left: 0;
}

.Labeli{
  margin-top: 30px;
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.polje {
  display: flex;          
  align-items: center;    
  margin-bottom: 15px;    
  background-color: rgba(233, 232, 232, 1);
  gap: 5px;
  padding: 13px;
}

.polje input {
  margin-top: 1%;
  width: 45%;
  border: 0px;
  background-color: rgba(233, 232, 232, 1);
}

.polje input:focus {
  border-color: #007bff;      
  background-color: #e6f0ff;  
  outline: none;               
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.Uloga{
  background-color: rgba(233, 232, 232, 1);
  border: 0px;
  display: flex;
  flex-direction: column;
}

.Uloga legend{
  position: relative;
  top: 15%; 
  left: 7%;
  background-color: rgba(55, 52, 53, 1);
  padding: 5px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
}

.Uloga label{
   position: relative; 
   top: 35%; 
   left: 10%;
  }

.Uloga label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.Uloga input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color: #007bff;
}

/*tablet*/
@media (max-width: 1024px) {
  .Blok {
    width: 70%;
    height: auto;
  }

  .Kontenjer{
    margin-top: 35px;
  }

  .ZaglavljeBloka {
    width: 70%;
    font-size: 18px;
    padding: 10px;
  }

  .Registracija {
    grid-template-columns: 1fr; /* samo jedan stupac */
    gap: 20px;
    margin-top: 0px;
  }

  .Registracija button {
    width: 100%;
    justify-self: center;
  }

  .polje {
    flex-direction: column;
    align-items: flex-start;
  }

  .polje input {
    width: 100%;
  }

  .Labeli {
    align-items: center;
  }

  .polje input {
    width: 80%;
  }

  .Uloga{
    width: 30vw;
  }

  .Uloga legend {
    width: 70%;
    font-size: 14px;
  }

  .Uloga label {
    left: 5%;
    font-size: 13px;
  }
}


/*mobitel*/
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .Kontenjer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    margin: 10px;
  }

  .Blok {
    width: 90%;
    padding: 15px;
  }

  .ZaglavljeBloka {
    width: 90%;
    height: auto;
    font-size: 16px;
    padding: 10px;
  }

  .TijeloBloka {
    flex-direction: column;
    align-items: center;
  }

  .Registracija {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 0px;
  }

  .Registracija button {
    width: 100%;
    justify-self: center;
  }

  .polje {
    flex-direction: column;
    align-items: flex-start;
  }

  .polje input {
    width: 100%;
  }

  .Uloga{
    height: 15vh;
  }

  .Uloga legend {
    width: 50%;
    font-size: 14px;
  }

  .Uloga label {
    left: 5%;
    font-size: 13px;
  }
}
